@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

* {
    font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  resize: none;
  text-decoration: none;
  list-style: none;
  outline: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover; 
}

body{
	width: 100vw;
	height: 100vh;
	display: grid;
	place-items: center;
	background-image: url('../images/splash.png');
}

@keyframes animar {
	0%{
		transform: translateX(-500px);
		opacity: 0;
		
	}
	40%{
		opacity: 1;
		transform: translateX(0px);
	}
	60%{
		opacity: 1;
		transform: translateX(0px);
		
	}
	100%{
		transform: translateX(500px);
		opacity: 0;
	}
}

#splash{
	width: 100vw;
	height: 100vh;
	display: grid;
	place-items: center;
}

#splash .container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: .5rem; 
	transform: translateX(200px); 
	opacity: 0; 
	animation: animar 2s cubic-bezier(.76,.19,.28,.96); 
}

#splash .container img{
	width: 18pc;
	height:fit-content;
}

#splash .container h1{
	color: #fff;
	font-size: 15pc;
	font-weight: 700;
	line-height: 1;
}

#splash .container h5{
	color: #fff;
	font-size: 4pc;
	font-weight: 500;
}

@media(max-width:2880px){
#splash .container img{
		width: 15pc;
}
	
#splash .container h1{
		font-size: 12pc;
}
	
#splash .container h5{
		font-size: 3pc;
}
}

@media(max-width:1920px){
	
#splash .container img{
		width: 9pc;
}
	
#splash .container h1{
		font-size: 8pc;
}
	
#splash .container h5{
		font-size: 2.2pc;
}
	
}

@media(max-width:1366px){
	
#splash .container img{
		width: 6pc;
}
	
#splash .container h1{
		font-size: 5pc;
}
	
#splash .container h5{
		font-size: 1.4pc;
}
	
}
